<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id = "currentTime" class = "java.time.LocalTime" factory-method="now">
   </bean>
   <bean id = "wmg" class = "WishMessageGenerator" scope = "prototype">
   <property name = "time" ref = "currentTime"/>
   </bean>
</beans>