<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="student1" class="Student">
    <constructor-arg index="0" value="Anand"/>
    <constructor-arg index="1" value="Banglore"/>
</bean>
  <bean id="student2" class="Student">
    <constructor-arg name="name" value="Pavan"/>
    <constructor-arg name="city" value="Amaravathi"/>
</bean>
  
</beans>