<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id = "principalBean" class = "Principal">
   <property name="name" value = "pavan"/> 
   </bean>
   <bean id = "collegeBean" class = "College">
   <property name = "principal" ref = "principalBean"/>
   </bean>
</beans>