<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id = "calendarHolder" class = "CalendarHolder"  init-method="init">
   <property name = "year" value = "1999" />
   <property name = "month" value = "6" />
   <property name = "day" value = "20" />
  </bean>
  
  <bean id = "wmg" class = "WishMessageGenerator">
  <constructor-arg name = "calendarHolder" ref = "calendarHolder"/> 
  </bean>
</beans>